# Web server
fastapi
uvicorn
python-multipart
gunicorn

# Image processing
opencv-python-headless
Pillow

# Data processing
numpy
pandas

# Machine learning
tensorflow-cpu
ultralytics

# Performance tools
psutil
